@font-face {
    font-family: Royale;
    src: url(fonts/clash_royale.ttf); 
}
body, html {
    margin: 0;
    width: 100%;
}
#menu {
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 7%;
    width: 90%;
    background: #272727;
    left: 0;
    top: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.headerContainer {
    display: flex;
    height: 100%;
    width: 30%;
}

#picture {
    height: 100%;
}

.menuContainer {
    display: flex;
    height: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-family: Royale, sans-serif;
    font-size: 12px;
    color: #f5f5f5;
    text-decoration: none;
}
main {

}
.about {
    height: 100vh;
    background: url("images/about_back.png");
    background-size: cover;
}
.about img {
    width: 100%;
    height: 100%;
}
.prices {
    height: 100vh;
    background: url("images/grass.png");
    background-size: cover;
}
.prices_list {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-shrink: 1;
    justify-content: space-around;
    align-items: center;
}
.prices_list li {
    display: flex;
    justify-content: center;
}
.tariff img{
    width: 65%;
}
.reviews{
    height: 100vh;
    background: url("images/reviews_back.png");
    background-size: cover;
}

.logo {
    height: 35%;
    width: auto;
    fill: whitesmoke;
}

#popup_container {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 300px;
    height: 60px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
}

#pop_up_hide {
    display: flex;
    float: right;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    padding: 12px;

}

#pop_up_hide svg {
    width: 20px;
    height: 20px;
    fill:#1E201D;
}

#pop_up_hide:hover {
    cursor: pointer;
}

#pop_up_hide:hover svg {
    fill: whitesmoke;
}

#pop_up_hide:active {
    outline: none;
}

#pop_up_hide:focus {
    outline: none;
}

.answers {
    font-family: Royale, sans-serif;
    position: absolute;
    top: 230%;
    left: 55%;
    /*width: 100%;*/
    height: auto;

    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 84px;
    text-align: center;

    color: #FFFFFF;
}

.container img {
    width: 100%;
    z-index: -2;
}

button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

#right-btn {
    position: absolute;
    top: 300px;
    right: 125px;
   margin: auto 0 auto -2em;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    position: absolute;
    top: 300px;
    left: 125px;
    z-index: 0;
    margin: auto -2em auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}